:root {
    --primary-color: #ff4d8d;
    --primary-hover: #e03c7a;
    --primary-light: #ffe6f0;
    --text-color: #333;
    --bg-light: #fff;
    --bg-page: #f5f7fa;
    --bg-dark: #222;
    --text-gray: #ccc;
}