/* =======================
   FOOTER (Bố cục 4 cột)
======================= */
.footer {
    background: var(--bg-dark);
    color: white;
    padding: 50px 0 20px;
    margin-top: auto;
    font-size: 15px;
    width: 100%;
    height: 425px;
    border: none;
    overflow: hidden;
}

.footer-container {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.text-gray {
    color: var(--text-gray);
}

.contact-info li {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    color: var(--text-gray);
}

.contact-info li i {
    color: var(--primary-color);
    font-size: 18px;
    margin-top: 3px;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: var(--text-gray);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.social-links a:hover {
    background: white;
    color: var(--primary-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: var(--text-gray);
    font-size: 14px;
}

.footer-frame {
    height: 425px;
}

/* =======================
   RESPONSIVE (Cho Máy tính bảng & Điện thoại)
======================= */


@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}
