<footer class="footer">
    <button id="scrollToTopBtn" class="scroll-to-top" aria-label="Lên đầu trang">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    <div class="footer-container">
        <div class="footer-col">
            <div class="footer-logo">BeautyStore</div>
            <ul class="contact-info">
                <li><i class="fa-solid fa-location-dot"></i> Hà Nội, Việt Nam</li>
                <li><i class="fa-solid fa-phone"></i> 0966 969 726</li>
                <li><i class="fa-solid fa-envelope"></i> manhduc114488@gmail.com</li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Giờ mở cửa</h3>
            <p class="text-gray">Từ 07:00 a.m - 10:00 p.m tất cả các ngày trong tuần (bao gồm cả các ngày lễ, ngày Tết).</p>
        </div>

        <div class="footer-col">
            <h3>Chính sách</h3>
            <ul class="footer-links">
                <li><a href="/pages/policy/html/Payment.html">Chính sách thanh toán khi đặt hàng</a></li>
                <li><a href="/pages/policy/html/Delivery.html">Chính sách giao hàng</a></li>
                <li><a href="/pages/policy/html/Privacy.html">Chính sách bảo mật thông tin</a></li>
                <li><a href="/pages/policy/html/Product.html">Chính sách về sản phẩm</a></li>
                <li><a href="/pages/policy/html/Refund.html">Chính sách đổi trả</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Kết nối với chúng tôi</h3>
            <div class="social-links">
                <a href="https://web.facebook.com/share/1LsuBUvMnN/?mibextid=wwXIfr&_rdc=1&_rdr"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.tiktok.com/@nmduc148?_r=1&_t=ZS-96sFar9FLBR"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.instagram.com/m_duc14806?igsh=ZzdtY3pnaGU2MTZz&utm_source=qr"><i class="fa-brands fa-tiktok"></i></a>
            </div>

            <h3 style="margin-top: 25px;">Hướng dẫn</h3>
            <ul class="footer-links">
                <li><a href="/pages/guidelines/Shopping.html">Hướng dẫn mua hàng</a></li>
                <li><a href="/pages/guidelines/OrderCancellation.html">Hướng dẫn hủy đơn</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 NghienSkincare - Mỹ phẩm chính hãng</p>
    </div>
</footer>