<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <base target="_parent">
    <link rel="stylesheet" href="../../src/css/global.css">
    <link rel="stylesheet" href="../css/layout/layout.css">
</head>

<body>

    <nav class="page-menu">
        <ul>
            <li><a href="../../index.html">Trang chủ</a></li>
            <li><a href="../pages/about.html">Giới thiệu</a></li>
            <li><a href="../pages/product/products.html">Sản phẩm</a></li>
            <li><a href="../pages/promotion.html">Khuyến mãi</a></li>
            <li><a href="../pages/new/news.html">Tin tức</a></li>
            <li><a href="../pages/contact.html">Liên hệ</a></li>
        </ul>
    </nav>

</body>

</html>